[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
[Mm]emoryCaptures/
.logs/
sysinfo.txt
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.unitypackage
*.db
*.DS_Store
*.apk
*.aab

# PackageCache and other non-essential folders
Packages/manifest.json
Packages/packages-lock.json